/* #region Basic styles */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}
/* #endregion */

/* #region Logo */
.logo {
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-accent {
    color: #4D5AE5;
}
/* #endregion */